
<header id="header-area">
    <!-- Nested Container Starts -->
    <div class="container">
        <!-- Header Top Starts -->
        <div class="header-top text-uppercase">
            <div class="row">
                <!-- Header Links Starts -->
                <div class="col-sm-5 col-xs-12">
                    <div class="header-links">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="index.html">
                                    <i class="fa fa-home hidden-lg hidden-md" title="" data-original-title="Home"></i>
										<span class="hidden-sm hidden-xs">
											Home
										</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-heart hidden-lg hidden-md" title="" data-original-title="Wish List"></i>
										<span class="hidden-sm hidden-xs">
											Wish List (0)
										</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-user hidden-lg hidden-md" title="" data-original-title="My Account"></i>
										<span class="hidden-sm hidden-xs">
											My Account
										</span>
                                </a>
                            </li>
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-lock hidden-lg hidden-md" title="" data-original-title="Login"></i>
										<span class="hidden-sm hidden-xs">
											Login
										</span>
                                </a>
                            </li>
                            <li>
                                <a href="register.html">
                                    <i class="fa fa-unlock hidden-lg hidden-md" title="" data-original-title="Register"></i>
										<span class="hidden-sm hidden-xs">
											Register
										</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Header Links Ends -->
                <div class="col-sm-3 col-xs-12 hidden-md hidden-sm hidden-xs text-center msg">
                    <span>Welcome to online grocery store!</span>
                </div>
                <!-- Currency & Languages Starts -->
                <div class="col-lg-4 col-sm-7 col-xs-12 text-right">
                    <!-- currency starts -->
                    <div class="btn-group">
                        <button class="btn btn-link dropdown-toggle text-uppercase" data-toggle="dropdown">
                            currency: <span>usd</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="pull-right dropdown-menu">
                            <li><a tabindex="-1" href="#">pound </a></li>
                            <li><a tabindex="-1" href="#">us dollar</a></li>
                            <li><a tabindex="-1" href="#">euro</a></li>
                        </ul>
                    </div>
                    <!-- currency ends -->
                </div>
                <!-- Currency & Languages Ends -->
            </div>
        </div>
        <!-- Header Top Ends -->
        <!-- Main Header Starts -->
        <div class="main-header">
            <div class="row">
                <!-- Logo Starts -->
                <div class="col-md-6 col-xs-12">
                    <div id="logo">
                        <a href="index.html"><img src="images/logo.png" title="Grocery" alt="Grocery" class="img-responsive"></a>
                    </div>
                </div>
                <!-- Logo Starts -->
                <!-- Search Starts -->
                <div class="col-md-3 col-xs-12">
                    <div id="search">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search">
							  <span class="input-group-btn">
								<button class="btn btn-lg" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
							  </span>
                        </div>
                    </div>
                </div>
                <!-- Search Ends -->
                <!-- Shopping Cart Starts -->
                <div class="col-md-3 col-xs-12">
                    <div id="cart" class="btn-group btn-block">
                        <button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="hidden-md">Cart:</span>
                            <span id="cart-total">0 item(s) - $0.00</span>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <p class="text-center">Your shopping cart is empty!</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Shopping Cart Ends -->
            </div>
        </div>
        <!-- Main Header Ends -->
    </div>
    <!-- Nested Container Ends -->
</header>

<!---nav----------->
<nav id="main-menu" class="navbar" role="navigation">
    <div class="container">
        <!-- Nav Header Starts -->
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Nav Header Ends -->
        <!-- Navbar Cat collapse Starts -->
        <div class="collapse navbar-collapse navbar-cat-collapse">
            <ul class="nav navbar-nav">
                <li><a href="category-list.html">Household</a></li>
                <li class="dropdown">
                    <a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
                        Sound Devices
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a tabindex="-1" href="#">Music System</a></li>
                        <li><a tabindex="-1" href="#">DTS</a></li>
                        <li><a tabindex="-1" href="#">Home Theater</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">Food </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li class="dropdown-header">Sub Category</li>
                                <li><a tabindex="-1" href="#">item 1</a></li>
                                <li><a tabindex="-1" href="#">item 2</a></li>
                                <li><a tabindex="-1" href="#">item 3</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="dropdown-header">Sub Category</li>
                                <li><a tabindex="-1" href="#">item 1</a></li>
                                <li><a tabindex="-1" href="#">item 2</a></li>
                                <li><a tabindex="-1" href="#">item 3</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li class="dropdown-header">Sub Category</li>
                                <li><a tabindex="-1" href="#">item 1</a></li>
                                <li><a tabindex="-1" href="#">item 2</a></li>
                                <li><a tabindex="-1" href="#">item 3</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="category-list.html">Health and Beauty </a></li>
                <li><a href="category-list.html">Accessories</a></li>
                <li><a href="category-list.html">Home Improvements </a></li>
                <li><a href="category-list.html">Mobile Phones  </a></li>
                <li class="dropdown">
                    <a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
                        Pages
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a tabindex="-1" href="index.html">Home</a></li>
                        <li><a tabindex="-1" href="about.html">About</a></li>
                        <li><a tabindex="-1" href="category-list.html">Category List</a></li>
                        <li><a tabindex="-1" href="category-grid.html">Category Grid</a></li>
                        <li><a tabindex="-1" href="product.html">Product</a></li>
                        <li><a tabindex="-1" href="product-full.html">Product Full Width</a></li>
                        <li><a tabindex="-1" href="cart.html">Cart</a></li>
                        <li><a tabindex="-1" href="login.html">Login</a></li>
                        <li><a tabindex="-1" href="compare.html">Compare Products</a></li>
                        <li><a tabindex="-1" href="typography.html">Typography</a></li>
                        <li><a tabindex="-1" href="register.html">Register</a></li>
                        <li><a tabindex="-1" href="contact.html">Contact</a></li>
                        <li><a tabindex="-1" href="404.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Navbar Cat collapse Ends -->
    </div>

</nav>
<br>
<!-- side bar---->
<div class="col-md-3 __web-inspector-hide-shortcut__">
    <!-- Categories Links Starts -->
    <h3 class="side-heading">Categories</h3>
    <div class="list-group categories">
        <a href="category-grid.html" class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            Household
        </a>
        <a href="category-grid.html" class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            Food
        </a>
        <a href="category-grid.html" class="list-group-item">
            <i class="fa fa-chevron-right"></i>
           Health and Beauty
        </a>
        <a href="category-grid.html" class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            Accesories
        </a>
        <a href="category-grid.html" class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            Home Improvements
        </a>
        <a href="category-grid.html" class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            Accessories
        </a>

    </div>

    <!-- Banner #2 Ends -->
</div>





